// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
// endbower

.cf {
  clear: both;
}

@mixin cf() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

body {
  background: #5b6d7a;
}
.infowindow-holder {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  top: 30px;
  position: fixed;
  display: none;
  pointer-events: none;
  user-event: none;
  .infowindow-small {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 20px;
    background: rgba(0,52,31,.5);
    color: white;
  }
}
.infowindow {
  position: fixed;
  color: #eee;
  font-family: "Verdana";
  bottom: 30px;
  left: 30px;
  display: none;
  transform-origin: left bottom;
  pointer-events: none;
  user-event: none;
  &.tour1 {
    display: block;
  }
  &.who-turn {
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    .holder {
      display: inline-block;
      padding: 5px 10px;
      background: rgba(#00341f, 0.5);
      color: white;
      transform-origin: center bottom;
      .green {
        color: #d39500;
      }
      .red {
        color: #ad062e;
      }
      .blue {
        color: #0000ff;
      }
    }
  }
  .top {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(#00341f, 0.5);
    padding: 6px 0;
    padding-left: 18px;
    padding-right: 20px;
  }
  .bottom {
    background: rgba(#00341f, 0.5);
    height: 15px;
    width: 100%;
  }
  .middle {
    padding-top: 22px;
    background: rgba(black, 0.3);
    padding-bottom: 11px;
    height: 40px;
    @include cf();
    .text {
      float: left;
      font-size: 12px;
      opacity: 0.6;
      padding-left: 18px;
      margin-right: 40px;
      width: 42px;
    }
    .tour {
      float: left;
      margin-right: 22px;
      position: relative;
      .flags {
        @include cf();
        .flag {
          svg {
            width: 18px;
            fill: white;
          }
          float: left;
          margin-right: 9px;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          animation-iteration-count:infinite;
          -webkit-animation-iteration-count:infinite;
          &:last-of-type {
            margin-right: 0;
          }
          &.red {
            svg {
              fill: #ad062e;
            }
          }
          &.blue {
            svg {
              fill: #0000ff;
            }
          }
          &.green {
            svg {
              fill: #d39500;
            }
          }
          &.active {
            /*-webkit-animation-name: bounce; 
            animation-name: bounce; */
          }
        }
      }
      .title {
        border-top: 1px solid white;
        font-size: 9px;
        text-align: center;
        margin-top: 10px;
        position: absolute;
        width: 100%;
      }
      &.active {
        .flag.active {
          -webkit-animation-name: bounce; 
          animation-name: bounce; 
        }
      }
    }
  }
}

@-webkit-keyframes bounce {
  0%, 100% {-webkit-transform: translateY(2px);} 
  50% {-webkit-transform: translateY(-10px);} 
} 

@keyframes bounce {
  0%, 100% {transform: translateY(2px);} 
  50% {transform: translateY(-10px);} 
}

#infowindow-question {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  img {
    width: 20px;
  }
  //background: rgba(0,52,31,.5);
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0,0,0,0.6);
  z-index: 9999999;
  &:before {
    display: inline-block;
    content: '';
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
  .popup-holder {
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    background: url('../images/bg-paper.png');
    padding: 6px;
    .popup {
      border-radius: 4px;
      border: 2px solid #e1c673;
      font-family: "Verdana" sans-serif;
      padding: 20px 48px 20px 48px;
      display: none;
      position: relative;
      .close {
        background: url('../images/ico-close.png');
        width: 14px;
        height: 14px;
        display: block;
        position: absolute;
        top: -8px;
        right: -30px;
      }
      &.active {
        display: block;
      }
      &#winer {
        .places {
          & > * {
            display: inline-block;
            vertical-align: top;
            margin: 0 40px;
            margin-top: 50px;
            .ava {
              transform: scale(0.8);
            }
            .name {
              font-size: 12px;
              color: #002718;
              margin-top: 20px;
            }
            .place {
              font-size: 12px;
              color: #002718;
              opacity: 0.61;
              font-style: italic;
            }
          }
          .first {
            margin-top: 0;
            .ava {
              display: inline-block;
              transform: scale(1);
            }
            .name {
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
      }
      &#sexy-alert {
        .green {
          color: #d39500;
        }
        .red {
          color: #ad062e;
        }
        .blue {
          color: #0000ff;
        }
      }
      &#question-2 {
        width: 530px;
        .small-title {
          .green {
            color: #d39500;
          }
          .red {
            color: #ad062e;
          }
          .blue {
            color: #0000ff;
          }
        }
        .row {
          @include cf();
          .left, .right {
            &.green {
              color: #d39500;
            }
            &.red {
              color: #ad062e;
            }
            &.blue {
              color: #0000ff;
            }
          }
          .left {
            .ava {
              float: left;
            }
            .score {
              float: left;
            }
          }
          .right {
            .ava {
              float: right;
            }
            .score {
              float: right;
            }
          }
          .score {
            font-size: 14px;
            font-weight: bold;
            margin: 0 30px;
            margin-top: 40px;
          }
        }
        .timer {
          font-size: 26px;
          font-weight: bold;
          color: #002718;
          position: absolute;
          width: 100%;
          left: 0;
          margin-top: 30px;
        }
        .q {
          font-size: 17px;
          color: #002718;
          width: 435px;
          margin: 0 auto;
          margin-top: 25px;
        }
        .a {
          @include cf();
          width: 480px;
          margin: 0 auto;
          margin-top: 32px;
          a {
            font-size: 13px;
            border: 1px solid rgba(#c9aa49, 0.5);
            width: 206px;
            text-align: center;
            //display: block;
            //float: left;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            line-height: 100%;
            padding: 10px 0px;
            margin: 0 15px;
            margin-bottom: 20px;
            &:hover {
              background: rgba(#002819, 0.5);
              color: white;
            }
            &.green {
              background: rgba(#d39500, 0.5);
              color: white;
            }
            &.red {
              background: rgba(#ad062e, 0.5);
              color: white;
            }
            &.blue {
              background: rgba(#0000ff, 0.5);
              color: white;
            }
            &.true {
              border-width: 3px;
              border-color: green;
            }
          }
        }
      }
      &#question-1 {
        @include cf();
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
        &:before {
          position: absolute;
          width: 1px;
          height: 100%;
          background: rgba(#05291b, 0.25);
          content: '';
          display: block;
          top: 0;
          left: 252px;
        }
        .left {
          height: 100%;
          position: relative;
          width: 205px;
          .unit {
            @include cf();
            margin: (30)+px 0;
            .ava {
              float: left;
            }
            .row {
              @include cf();
            }
            .name {
              width: 80px;
              font-size: 12px;
              font-weight: bold;
              color: #002718;
              margin-bottom: 16px;
              &.green {
                color: #d39500;
              }
              &.red {
                color: #ad062e;
              }
              &.blue {
                color: #0000ff;
              }
            }
            .led {
              width: 11px;
              height: 13px;
              float: left;
              &.red {
                background: url('../images/ico-led-red.png');
              }
              &.blue {
                background: url('../images/ico-led-blue.png');
              }
              &.black {
                background: url('../images/ico-led-black.png');
              }
            }
            .timer {
              font-size: 18px;
              font-weight: bold;
              color: #002718;
              float: left;
              margin-top: -6px;
              margin-left: 3px;
            }
            .info {
              float: left;
              margin-left: 18px;
            }
          }
        }
        .right {
          height: 100%;
          position: relative;
          width: 352px;
          margin-left: 40px;
          padding-top: 10px;
          .small-title {
            font-size: 16px;
            color: black;
          }
          .title {
            margin-top: 26px;
            margin-bottom: 14px;
            text-transform: none;
          }
          .q {
            font-size: 18px;
            color: #002718;
            margin-bottom: 20px;
          }
          input {
            width: 265px;
            float: left;
            margin-top: 0;
          }
          button {
            width: 60px;
            height: 38px;
            float: left;
            padding: 0;
            margin-left: 3px;
          }
          form {
            @include cf();
          }
          .numpad {
            @include cf();
            width: 250px;
            a {
              display: block;
              float: left;
              width: 40px;
              height: 40px;
              background: #05291b;
              border: 1px solid #ab8e35;
              border-radius: 3px;
              margin-right: 4px;
              margin-bottom: 4px;
              font-size: 28px;
              color: #ab8e35;
              text-align: center;
              text-decoration: none;
              box-sizing: border-box;
              padding-top: 1px;
              &.clear {
                width: 95px;
                font-size: 10px;
                text-align: left;
                padding-left: 42px;
                padding-top: 11px;
                position: relative;
                &:before {
                  background: url('../images/ico-cross.png');
                  width: 24px;
                  height: 24px;
                  content: '';
                  display: block;
                  position: absolute;
                  left: 9px;
                  top: 7px;
                }
              }
              &.del {
                width: 95px;
                font-size: 10px;
                text-align: left;
                padding-left: 42px;
                padding-top: 11px;
                position: relative;
                &:before {
                  background: url('../images/ico-arrow-del.png');
                  width: 24px;
                  height: 24px;
                  content: '';
                  display: block;
                  position: absolute;
                  left: 9px;
                  top: 7px;
                }
              }
              &.zero {
                width: 95px;
              }
              
            }
          }
          .timer {
            font-size: 30px;
            font-weight: bold;
            color: #002718;
            position: absolute;
            margin-top: -87px;
            margin-left: 250px;
          }
        }
      }
      &#mathcmaking {
        .row {
          .ava {
            display: inline-block;
            margin: 0 30px;
          }
        }
        .note {
          width: 440px;
        }
      }
      .tabs-btn {
        @include cf();
        .tab {
          font-size: 22px;
          color: #002718;
          width: 220px;
          border-bottom: 1px solid #002718;
          text-decoration: none;
          display: block;
          float: left;
          opacity: 0.6;
          padding-bottom: 12px;
          &.active {
            padding-bottom: 10px;
            color: #002718;
            opacity: 1;
            border-bottom: 3px solid #002718;
          }
        }
      }
      .tabs {
        margin-top: 30px;
        .tab {
          max-height: 500px;
          margin-bottom: 30px;
          overflow: auto;
          display: none;
          max-width: 830px;
          text-align: left;
          padding-right: 20px;
          .q {
            font-size: 18px;
            font-weight: bold;
            margin: 20px 0;
            margin-top: 30px;
            cursor: pointer;
            &:before {
              content: '\25BA';
              display: block;
              position: absolute;
              margin-left: -25px;
              margin-top: 1px;
            }
            &.active {
              cursor: default;
              &:before {
                content:'\25BC';
              }
            }
          }
          .a {
            display: none;
            font-size: 15px;
          }
          h2 {
            font-size: 18px;
            font-weight: normal;
            margin-top: 40px;
          }
          h3 {
            font-weight: normal;
            font-size: 16px;
          }
          p {
            font-size: 16px;
          }
          &.active {
            display: block;
          }
          table {
            width: 100%;
            font-size: 18px;
            tr {
              height: 30px;
              &.you {
                background: rgba(#05291b, .8);
                color: white;
              }
            }
          }
        }
      }
      &#menu {
        padding-top: 40px;
        position: relative;
        .logo {
          position: absolute;
          left: 50%;
          margin-left: -(83/2)+px;
          top: -138px;
        }
      }
      &#profile {
        section {
          @include cf();
          margin-bottom: 20px;
          margin-top: 20px;
          &.n1 {
            text-align: center;
            margin-bottom: 40px;
            .center {
              display: inline-block;
              text-align: left;
            }
          }
        }
        .ava {
          float: left;
        }
        .info {
          float: left;
          text-align: left;
          margin-left: 40px;
          font-size: 16px;
          .name {
            font-size: 20px;
            font-weight: bold;
            color: #002718;
            text-transform: uppercase;
            margin-bottom: 16px;
          }
          .row {
            margin-bottom: 10px;
          }
          .ico {
            display: inline-block;
            &.cup {
              background: url('../images/ico-cup.png');
              width: 27px;
              height: 29px;
              margin-bottom: -8px;
              margin-right: 5px;
            }
            &.ruby {
              background: url('../images/ico-ruby.png');
              width: 28px;
              height: 23px;
              margin-bottom: -6px;
              margin-right: 5px;
            }
          }
          .grey {
            color: grey;
          }
        }
        .achivments {
          .unit {
            display: inline-block;
            margin: 0 12px;
            .shild {
              background-image: url('../images/ico-shild-no.png');
              width: 83px;
              height: 95px;
            }
            .label {
              font-size: 10px;
              font-weight: bold;
              text-transform: lowercase;
              margin-top: 10px;
            }
            &.earned {
              .shild {
                background-image: url('../images/ico-shild-yes.png');
              }
            }
          }
        }
      }
      .buttons {
        font-size: 11px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 5px;
        .left {
          float: left;
          a {
            margin-right: 25px;
          }
        }
        .right {
          float: right;
          a {
            margin-left: 28px;
          }
          .music {
            background-image: url('../images/ico-music.png');
            width: 15px;
            height: 17px;
            display: inline-block;
            vertical-align: middle;
          }
          .sfx {
            background-image: url('../images/ico-sfx.png');
            width: 16px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .title {
        font-weight: bold;
        font-size: 20px;
        color: #002718;
        margin-bottom: 44px;
        text-transform: uppercase;
      }
      .note {
        color: #05291b;
        font-size: 18px;
        width: 320px;
        margin: 40px 0;
      }
      button, a.btn {
        display: block;
        border: none;
        width: 100%;
        background: #05291b;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 16px 0;
        margin-bottom: 24px;
        text-decoration: none;
        width: 280px;
      }
      form {
        label {
          &.error {
            display: block;
            //margin-top: -22px;
            //margin-bottom: -10px;
            color: red;
            font-size: 13px;
            text-align: left;
            margin-top: -24px;
            margin-bottom: 18px;
          }
        }
        input {
          display: block;
          font-size: 14px;
          color: #002718;
          border: none;
          background: none;
          padding: 0 10px;
          background: #e4e4e4;
          height: 38px;
          width: 280px;
          margin: 30px 0;
          margin-top: 10px;
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.55) inset;
        }
        .i {
          background: url('../images/ico-i.png');
          width: 22px;
          height: 22px;
          position: absolute;
          margin-top: -60px;
          margin-left: 260px;
          &:hover {
            .text-wrapper {
              display: block;
            }
          }
          .text-wrapper {
            width: 300px;
            position: absolute;
            bottom: -125%;
            left: 26px;
            display: none;
            &:before {
              background: url('../images/ico-arrow.png');
              width: 5px;
              height: 15px;
              display: inline-block;
              content: '';
              vertical-align: middle;
            }
            .text {
              width: 295px;
              display: inline-block;
              vertical-align: middle;
              background: rgba(#002819, 0.55);
              text-align: left;
              color: white;
              font-size: 12px;
              line-height: 16.5px;
              padding-left: 16px;
              padding-right: 12px;
              padding-top: 8px;
              padding-bottom: 6px;
              box-sizing: border-box;
              border-radius: 5px;
              margin-left: -6px;
            }
          }
        }
      }
      a {
        font-size: 11px;
        color: black;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .caps {
        text-transform: uppercase;
      }
      hr {
        border: none;
        background: rgba(#05291b, 0.35);
        height: 1px;
        margin: 0 -48px;
      }
    }
    .socials {
      margin-top: 28px;
      a {
        margin: 0 10px;
      }
    }
  }
}

.temp-map {
  position: absolute;
  //background: white;
  z-index: 9;
  &>div {
    width: 80px;
    float: left;
    border: 1px solid transparent;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
    &:hover {
      border: 1px solid white;      
    }
  }
}

.ava {
  position: relative;
  .mask {
    background: url('../images/ava-mask.png');
    width: 116px;
    height: 130px;
    position: absolute;
    margin-left: -58px;
    left: 50%;
    margin-top: -15px;
  }
  .name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 18px;
  }
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
  }
}

#user-list {
  position: fixed;
  z-index: 99999;
  margin-left: 30px;
  transform-origin: top left;
  display: none;
  pointer-events: none;
  .user {
    float: left;
    width: 100px;
    text-align: center;
    color: #eeeeee;
    font-family: Verdana;
    font-size: 12px;
    margin-top: 24px;
    margin-right: 8px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.65);
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
    .name {
      display: inline-block;
      width: 90px;
      min-height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .points {
      margin-bottom: 10px;
      font-weight: bold;
    }
    .ava {
      display: inline-block;
    }
    .mask {
      width: 83px;
      height: 93px;
      margin-top: -7px;
      margin-left: -42px;
    }
    &.green {
      background: #d39500;
      .mask {
        
        background: url('../images/mask-green.png');
      }
    }
    &.red {
      background: #ad062e;
      .mask {
        
        background: url('../images/mask-red.png');
      }
    }
    &.blue {
      background: #0000ff;
      .mask {
        
        background: url('../images/mask-blue.png');
      }
    }
  }
}

#map {
  position: absolute;
  transform-origin: left top;
  &.user_red {
    .areas {
      .glow {
        fill: red;
        stroke: red;
      }
    }
  }
  &.user_green {
    .areas {
      .glow {
        fill: #d39500;
        stroke: #d39500;
      }
    }
  }
  &.user_blue {
    .areas {
      .glow {
        fill: blue;
        stroke: blue;
      }
    }
  }
  .bg {
    display: block;
  }
  .areas {
    position: relative;
    &>* {
      position: absolute;
      pointer-events: none;
      &.reserved {
        .glow {
          #small {
            opacity: 1;
          }
        }
        &.red {
          .glow {
            fill: red;
            stroke: red;
          }
        }
        &.green {
          .glow {
            fill: #d39500;
            stroke: #d39500;
          }
        }
        &.blue {
          .glow {
            fill: blue;
            stroke: blue;
          }
        }
      }
      .countur {
        position: relative;
        z-index: 99999999999999999999999;
        //visibility: hidden;
        opacity: 0;
        svg {
          g {
            cursor: pointer;
            pointer-events: visibleFill;
          }
          g:hover {
            path {
              //visibility: hidden;
              opacity: 0;
              fill: red;
              stroke: green;
            }
          }
        }
      }
      .undeground {
        position: absolute;
        top: 0;
        pointer-events: none;
        background-position: bottom;
        background-repeat: no-repeat;
        transition: all 100ms linear;
        pointer-events: none;
      }
      .ground {
        position: absolute;
        top: 0;
        pointer-events: none;
        transition: all 100ms linear;
        background-repeat: no-repeat;
        pointer-events: none;
      }
      .glow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 100ms linear;
        background-repeat: no-repeat;
        //stroke: green;
        //fill: green;
        //fill: transparent;
        pointer-events: none;
        #large {
          opacity: 0;
          transition: all 100ms linear;
          display: block;
        }
        #small {
          opacity: 0;
          transition: all 100ms linear;
          display: block;
        }
      }
      .objects {
        position: absolute;
        pointer-events: none;
        top: 0;
        transition: all 100ms linear;
        background-repeat: no-repeat;
        pointer-events: none;
      }
    }
    
    @keyframes smallsmoke {
      100% {
        background-position: -470px;
      }
    }
    @keyframes bigsmoke {
      100% {
        background-position: -740px;
      }
    }
    .lives-2 {
      .lives {
        width: 47px;
        height: 69px;
        position: absolute;
        top: 0px;
        left: 0px;
        background: url('../images/smoke-small.png');
        animation: smallsmoke 1.5s steps(10) infinite;
      }
    }
    .lives-1 {
      .lives {
        width: 74px;
        height: 92px;
        position: absolute;
        transform: translateX(-13px) translateY(-23px);
        top: 0px;
        left: 0px;
        background: url('../images/smoke-big.png');
        animation: bigsmoke 1.5s steps(10) infinite;
      }
    }
    
    &.active {
      .active.empty {
        z-index: 900000;
        .ground {
          transform: translate(0, -15px);
          //top: -15px;
        }
        .objects {
          transform: translate(0, -15px);
        }
        .glow {
          transform: translate(0, -15px) !important;
          /*
          fill: green !important;
          stroke: blue !important;*/
          #large {
            //display: block;
            opacity: 1;
          }
          #small {
            //display: none;
            opacity: 0;
          }
        }
        .undeground {
          opacity: 1 !important;
        }
      }
    }
    &.stage-2 {
      .active:not(.my){
        z-index: 900000;
        .ground {
          transform: translate(0, -15px);
          //top: -15px;
        }
        .objects {
          transform: translate(0, -15px);
        }
        .glow {
          transform: translate(0, -15px) !important;
          /*
          fill: green !important;
          stroke: blue !important;*/
          #large {
            //display: block;
            opacity: 1;
          }
          #small {
            //display: none;
            opacity: 0;
          }
        }
        .undeground {
          opacity: 1 !important;
        }
      }
    }
  }
  #area-15 {
    left: 507px;
    top: 328px;
    .objects {
      background: url('../images/15_object.png');
      width: 240px;
      height: 171px;
    }
    .undeground {
      width: 240px;
      height: 171px;
      background-image: url('../images/15_3d.png');
      opacity: 0;
    }
    .ground {
      width: 240px;
      height: 171px;
      background: url('../images/15_ground.png');
    }
    .countur {
      width: 240px;
      height: 171px;
    }
    .lives {
      top: 10px;
      left: 79px;
    }
  }
  #area-14 {
    left: 307px;
    top: 237px;
    .objects {
      background: url('../images/14_object.png');
      width: 343px;
      height: 317px;
    }
    .undeground {
      width: 343px;
      height: 317px;
      background-image: url('../images/14_3d.png');
      opacity: 0;
    }
    .ground {
      width: 343px;
      height: 317px;
      background: url('../images/14_ground.png');
    }
    .countur {
      width: 343px;
      height: 317px;
    }
    .glow {
      transform: translate(0, 5px);
    }
    .lives {
      top: 100px;
      left: 89px;
    }
  }
  #area-13 {
    left: 665px;
    top: 285px;
    .objects {
      background: url('../images/13_object.png');
      width: 258px;
      height: 303px;
    }
    .undeground {
      width: 258px;
      height: 300px;
      background-image: url('../images/13_3d.png');
      opacity: 0;
    }
    .ground {
      width: 258px;
      height: 300px;
      background: url('../images/13_ground.png');
    }
    .countur {
      width: 258px;
      height: 300px;
    }
    .lives {
      top: 154px;
      left: 124px;
    }
  }
  #area-12 {
    left: 885px;
    top: 235px;
    .objects {
      background: url('../images/12_object.png');
      width: 529px;
      height: 345px;
    }
    .undeground {
      width: 529px;
      height: 345px;
      background-image: url('../images/12_3d.png');
      opacity: 0;
    }
    .ground {
      width: 529px;
      height: 345px;
      background: url('../images/12_ground.png');
    }
    .countur {
      width: 529px;
      height: 345px;
    }
    .lives {
      top: 146px;
      left: 166px;
    }
  }
  #area-11 {
    left: 1362px;
    top: 134px;
    .objects {
      background: url('../images/11_object.png');
      width: 415px;
      height: 414px;
    }
    .undeground {
      width: 415px;
      height: 414px;
      background-image: url('../images/11_3d.png');
      opacity: 0;
    }
    .ground {
      width: 415px;
      height: 414px;
      background: url('../images/11_ground.png');
    }
    .countur {
      width: 415px;
      height: 414px;
    }
    .lives {
      top: 82px;
      left: 205px;
    }
  }
  #area-10 {
    left: 902px;
    top: 540px;
    .objects {
      background: url('../images/10_object.png');
      width: 235px;
      height: 304px;
    }
    .undeground {
      width: 235px;
      height: 304px;
      background-image: url('../images/10_3d.png');
      opacity: 0;
    }
    .ground {
      width: 235px;
      height: 304px;
      background: url('../images/10_ground.png');
    }
    .countur {
      width: 235px;
      height: 304px;
    }
    .glow {
      transform: translate(0px, 9px);
    }
    .lives {
      top: 78px;
      left: 85px;
    }
  }
  #area-9 {
    left: 1083px;
    top: 632px;
    .objects {
      background: url('../images/9_object.png');
      width: 309px;
      height: 215px;
    }
    .undeground {
      width: 309px;
      height: 215px;
      background-image: url('../images/9_3d.png');
      opacity: 0;
    }
    .ground {
      width: 309px;
      height: 215px;
      background: url('../images/9_ground.png');
    }
    .countur {
      width: 309px;
      height: 215px;
    }
    .lives {
      top: 42px;
      left: 172px;
    }
  }
  #area-8 {
    left: 1380px;
    top: 351px;
    .objects {
      background: url('../images/8_object.png');
      width: 250px;
      height: 280px;
    }
    .undeground {
      width: 250px;
      height: 280px;
      background-image: url('../images/8_3d.png');
      opacity: 0;
    }
    .ground {
      width: 250px;
      height: 280px;
      background: url('../images/8_ground.png');
    }
    .countur {
      width: 250px;
      height: 280px;
    }
    .glow {
      transform: translate(0px, 7px);
    }
    .lives {
      top: 62px;
      left: 142px;
    }
  }
  #area-7 {
    left: 1207px;
    top: 440px;
    .objects {
      background: url('../images/7_object.png');
      width: 268px;
      height: 237px;
    }
    .undeground {
      width: 268px;
      height: 237px;
      background-image: url('../images/7_3d.png');
      opacity: 0;
    }
    .ground {
      width: 268px;
      height: 237px;
      background: url('../images/7_ground.png');
    }
    .countur {
      width: 268px;
      height: 237px;
    }
    .lives {
      top: 12px;
      left: 142px;
    }
  }
  #area-6 {
    left: 1048px;
    top: 478px;
    .objects {
      background: url('../images/6_object.png');
      width: 243px;
      height: 212px;
    }
    .undeground {
      width: 243px;
      height: 212px;
      background-image: url('../images/6_3d.png');
      opacity: 0;
    }
    .ground {
      width: 243px;
      height: 212px;
      background: url('../images/6_ground.png');
    }
    .countur {
      width: 243px;
      height: 212px;
    }
    .lives {
      top: 16px;
      left: 102px;
    }
  }
  #area-5 {
    left: 1350px;
    top: 596px;
    .objects {
      background: url('../images/5_object.png');
      width: 363px;
      height: 289px;
    }
    .undeground {
      width: 363px;
      height: 289px;
      background-image: url('../images/5_3d.png');
      opacity: 0;
    }
    .ground {
      width: 363px;
      height: 289px;
      background: url('../images/5_ground.png');
    }
    .countur {
      width: 363px;
      height: 289px;
    }
    .lives {
      top: 56px;
      left: 172px;
    }
  }
  #area-4 {
    left: 546px;
    top: 452px;
    .objects {
      background: url('../images/4_object.png');
      width: 223px;
      height: 216px;
    }
    .undeground {
      width: 223px;
      height: 216px;
      background-image: url('../images/4_3d.png');
      opacity: 0;
    }
    .ground {
      width: 223px;
      height: 216px;
      background: url('../images/4_ground.png');
    }
    .countur {
      width: 223px;
      height: 216px;
    }
    .glow {
      transform: translate(0, 8px);
    }
    .lives {
      top: 8px;
      left: 108px;
    }
  }
  #area-3 {
    left: 718px;
    top: 546px;
    .objects {
      background: url('../images/3_object.png');
      width: 241px;
      height: 296px;
    }
    .undeground {
      width: 241px;
      height: 296px;
      background-image: url('../images/3_3d.png');
      opacity: 0;
    }
    .ground {
      width: 241px;
      height: 296px;
      background: url('../images/3_ground.png');
    }
    .countur {
      width: 241px;
      height: 296px;
    }
    .glow {
      transform: translate(1px, 4px);
    }
    .lives {
      top: 45px;
      left: 106px;
    }
  }
  #area-2 {
    left: 369px;
    top: 459px;
    .objects {
      background: url('../images/2_object.png');
      width: 235px;
      height: 234px;
    }
    .undeground {
      width: 235px;
      height: 234px;
      background-image: url('../images/2_3d.png');
      opacity: 0;
    }
    .ground {
      width: 235px;
      height: 234px;
      background: url('../images/2_ground.png');
    }
    .countur {
      width: 235px;
      height: 234px;
    }
    .glow {
      transform: translate(0, 17px);
    }
    .lives {
      top: 15px;
      left: 106px;
    }
  }
  #area-1 {
    left: 218px;
    top: 518px;
    .objects {
      background: url('../images/1_object.png');
      width: 171px;
      height: 208px;
    }
    .undeground {
      width: 171px;
      height: 208px;
      background-image: url('../images/1_3d.png');
      opacity: 0;
    }
    .ground {
      width: 171px;
      height: 208px;
      background: url('../images/1_ground.png');
    }
    .countur {
      width: 171px;
      height: 208px;
    }
    .glow {
      transform: translate(0, 13px);
    }
    .lives {
      top: 25px;
      left: 76px;
    }
  }
}