extends layout

block content
  #tutorial
    .screen
    .tip.help-1.players
      img(src="/images/help-1.png")
    .tip.help-2.info
      img(src="/images/help-2.png")
    .tip.help-3.area
      img(src="/images/help-3.png")
    .tip.help-4.turns
      img(src="/images/help-4.png")
    .tip.help-5.help
      img(src="/images/help-5.png")
    img(src="/images/full_map.jpg")
  script.
    var _skoronagame_ = {
      open_frame: 'none'
    } //открыть фрейс login