extends layout

block content
  #map
    .areas
      #area-12.area
        .undeground
        .ground
        .countur
          include ./images/12_contyr.svg
        .glow
          include ./images/12_glow.svg
        .objects
    img.bg(src="/images/bg.jpg")
    
  .popup-wrapper
    .popup-holder
      .popup#login
        .title Войти в игру
        form(action="json/login.json" data-result="menu")
          input(name="email" type="email" placeholder="Ваш e-mail")
          input(name="password" type="password" placeholder="Введите пароль")
          button(type="submit") Отправить
        a.left.caps(href="#register") Зарегестрироваться
        a.right.caps(href="#password-forgot") Забыли пароль?
        .cf
        br
        hr
        .socials
          a(href="")
            img(src="images/ico-vk.png")
          a(href="")
            img(src="images/ico-ok.png")
          a(href="")
            img(src="images/ico-fb.png")
      .popup#register
        .title Регистрация
        form(data-result="authorisation-send")
          input(name="email" type="email" placeholder="Ваш e-mail")
          button(type="submit") Отправить
      .popup#password-forgot
        .title Получить пароль
        form(data-result="password-send")
          input(name="email" type="email" placeholder="Ваш e-mail")
          button(type="submit") Отправить
      .popup#authorisation-send
        a.close(href="")
        .note.
          На ваш e-mail отправлено письмо<br>
          с паролем для входа в игру
      .popup#password-send
        a.close(href="")
        .note.
          На ваш e-mail отправлено письмо<br>
          с паролем для входа в игру
      .popup#name
        .title Имя игрока
        form(data-result='/redirect to game')
          input(name="text" type="text" placeholder="Введите имя")
          .i
            .text-wrapper
              .text.
                “Имя” должно быть уникальным,
                может содержать кириллические
                и латинские буквы, цифры, знак пробела.
                Длина не более 12 символов.
          button(type="submit") Отправить
  script.
    var _skoronagame_ = {
      open_frame: 'login'
    } //открыть фрейс login